/* Navbar.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #333;
    color: white;
    margin-bottom: 16px;

  }
  
  .logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  